.toggle-button {
	box-sizing: border-box;
	padding: 0;
	height: 23px;
	width: 35px;
	background: transparent;
	border: none;
	cursor: pointer;
	/* need to position the divs not in a row but positioned underneath eachother */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.toggle-button:focus {
	outline: none;
}

.toggle-button-divs {
	width: 30px;
	height: 3px;
	background-color: #555b6e;
}
