.hamburger {
	height: 100%;
	background-color: #ffeedd;
	box-shadow: 2px 0px 5px #b8b8ff;
	/* fixed position so the menu doesn't overlap */
	position: fixed;
	top: 0;
	left: 0;
	width: 400px;
	/* so that this is above the background */
	z-index: 200;
}
