.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #cb997e;
	height: 56px;
}

.navbar-logo {
	margin-left: 1rem;
}

.navbar-logo a {
	color: #555b6e;
	text-decoration: none;
	font-size: 2rem;
}

/* need spacing around logo to take entirety */
.logo-spacing {
	flex: 5;
}

/* Using Flexbox for the navbar menu */
.navbar-menu {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1rem;
}

.navbar-search-items a {
	text-decoration: none;
	color: #cb997e;
}

.navbar-search-items ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.navbar-search-items li {
	padding: 0 3rem;
}

.navbar-search-items a:hover,
.navbar-search-items a:active {
	color: #faf9f9;
}

/*remove top navigation items when viewing on a mobile device*/
@media (max-width: 768px) {
	.navbar-search-items {
		display: none;
	}
}
/*remove hamburger from desktop and only visible when on a mobile device*/
@media (min-width: 769px) {
	.navbarToggle {
		display: none;
	}
}

/*to avoid unecessary margin when hamburger menu isn't showing on desktop */
.navbar-logo {
	margin-left: 0;
}
