body {
	cursor: pointer;
	text-align: center;

	
	color: #555b6e;
}

.App ul {
	text-decoration: none;
	list-style: none;
}

.App a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	height: 100%;
	padding: 0 1rem;
	color: #ffd6ba;
}

ul.nav-bar li,
ul.nav-bar li a {
	display: inline;
	text-decoration: none;
	list-style: none;
	color: #ffd8be;
}

h2,
h3,
h4 {
	color: #555b6e;
}
