body {
	cursor: pointer;
	text-align: center;
	color: #555b6e;
}

.App ul {
	text-decoration: none;
	list-style: none;
}

.App a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	height: 100%;
	padding: 0 1rem;
	color: #b63f07;
}

ul.nav-bar li,
ul.nav-bar li a {
	display: flex;
	justify-content: space-around;
	display: inline;
	text-decoration: none;
	list-style: none;
	color: #555b6e;
}

h1,
h2,
h3,
h4 {
	color: #555b6e;
}

img {
	width: 120px;
}
