@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

/*Color Palette:
#e9ecef
#ced4da
#495057
#343a40
#212529
*/


html {
	height: 100%;
}

body {
	background-color: #e9ecef;
	margin: 0;
	padding: 0;
	height: 100%;
	cursor: pointer;
	font-family: 'Jost', sans-serif;
}

button {
	background-color: #ced4da;
	border: 0;
	flex-grow: 0;
	font-size: 1rem;
	line-height: 0;
	padding: 0.75rem 1rem;
	color: #212529;
	font-family: 'Jost', sans-serif;
}

button + button,
input + button {
	margin-left: 2px;
}

form {
	padding: 7rem 0;
}

input {
	background-color: #ced4da;
	border: 2px solid #ced4da;
	color: #212529;
	flex-grow: 1;
	font-size: 1rem;
	padding: 0.75rem 1rem;
	width: 100%;
	cursor: text;
	}

input::placeholder {
	color: #495057;
	font-family: 'Jost', sans-serif;
	font-size: 1rem;
}

.search-bar {
	align-items: center;
	display: flex;
	font-family: 'Jost', sans-serif;
}

.submit {
	color: #495057;
	
}

/* media query to add more space between
the button and input when the browser is at least
600px wide */
@media (min-width: 600px) {
	button + button,
	input + button {
		margin-left: 1rem;
	}
}

h3 {
	color: #adb5bd;
}

p {
	color: #adb5bd;
	font-size: 15px;
}
