@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

/*Color Palette:
#555B6E
#89B0AE
#DDBEA9
#BEE3DB
#ffd8be
#FAF9F9
#FFD6BA
#cb997e
*/

*,
:after,
:before {
	box-sizing: border-box;
}

/* Create color variables */
:root {
	--primary: #555b6e;
	--secondary: #a5a58d;
	--secondary-light: #ffd8be;
}

html {
	height: 100%;
}
/* Remove the body margin */
body {
	/* font-family: sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0 1rem; */
	background-color: #89b0ae;
	margin: 0;
	padding: 0;
	height: 100%;
	cursor: pointer;
	font-family: 'Merienda', cursive;
}

button {
	background-color: #89b0ae;
	border: 0;
	flex-grow: 0;
	font-size: 1.5rem;
	line-height: 0;
	padding: 0.75rem 1rem;
	color: #555b6e;
}

button + button,
input + button {
	margin-left: 2px;
}

form {
	padding: 2rem 0;
}

/* Style the input and tell it to grow */
input {
	background-color: #BEE3DB;
	border: 2px solid #555b6e;
	color: #555B6E;
	flex-grow: 1;
	font-size: 1rem;
	padding: 0.75rem 1rem;
	width: 100%;
}

/* placeholder text */
input::placeholder {
	color: #a5a58d;
}

.search-bar {
	align-items: center;
	display: flex;
	color: #a5a58d;
}

.submit {
	color: #ffd8be;
}
/* Added a media query to add more space between
the button and input when the browser is at least
600px wide */
@media (min-width: 600px) {
	button + button,
	input + button {
		margin-left: 1rem;
	}
}

h1 {
	color: #fff1e6;
}

p {
	color: #fff1e6;
	font-size: 20px;
}
