/*Color Palette:
#9381ff
#b8b8ff
#f8f7ff
#ffeedd
#ffd8be */

/* Set box-sizing for all elements */
*,
:after,
:before {
	box-sizing: border-box;
}

/* Create color variables */
:root {
	--primary: #b8b8ff;
	--secondary: #9381ff;
	--secondary-light: #ffd8be;
}

/* Remove the body margin */
body {
	font-family: sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0 1rem;
	background-color: #9381ff;
	text-align: center;
	cursor: pointer;
}

/* Style the button and tell it not to grow */
button {
	background-color: var(--secondary);
	border: 0;
	flex-grow: 0;
	font-size: 1.5rem;
	line-height: 0;
	padding: 0.75rem 1rem;
	color: #ffd8be;
}

/* margin on the left of any buttons
that follow another button or an input */
button + button,
input + button {
	margin-left: 2px;
}

form {
	padding: 2rem 0;
}

/* Style the input and tell it to grow */
input {
	background-color: var(--secondary-light);
	border: 2px solid var(--secondary);
	color: var(--white);
	flex-grow: 1;
	font-size: 1.2rem;
	padding: 0.75rem 1rem;
	width: 100%;
}

/* Set the color of the placeholder text */
input::placeholder {
	color: var(--white);
}

.search-bar {
	align-items: center;
	display: flex;
	color: #9381ff;
}

.submit {
	color: #ffd8be;
}
/* Added a media query to add more space between
the button and input when the browser is at least
600px wide */
@media (min-width: 600px) {
	button + button,
	input + button {
		margin-left: 1rem;
	}
}

h1 {
	color: #b8b8ff;
}
